In [10]:
myName = 'shakil'

In [11]:
if myName == 'salman':
    print('Found your name')

elif myName == 'shakil':
    print("Found your Name Shakil")
    
else:
    print("Not Found your name")

Found your Name Shakil

In [12]:
# < less than
# > greater than
# <= less than equal to
# >= greater than equal to
# != are not equal to
# == equal to

In [23]:
if 4 != 2:
    print("Yes it is")

Yes it is

In [33]:
age = input('age')

age19

In [34]:
type(age)

str

In [35]:
age - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [38]:
age = int(age)

In [42]:
age = age + 5

In [43]:
age

24

In [45]:
name = '1000'
int(name)

1000

In [51]:
age = 25
age = str(age)

In [52]:
print("My age is " + age)

My age is 25

In [53]:
#AND OR

In [63]:
age = 16
gender = 'female'

if age >= 18 or gender == 'male':
    print("You are welcome")
    
else:
    print("You are not welcome")

You are not welcome

In [67]:
age = input('Enter Your Age')
age = int(age)
gender = input("Enter your Gender")

if gender == 'male':
    if age >= 18:
        print("You are eligible")
        
    else:
        print("Your age is less")
    
else:
    print("You are not eligible")

Enter Your Age18
Enter your Genderfemale
You are not eligible

In [72]:
age = 25
# age = age + 5

print(age)

25

# LISTS

In [77]:
cities = ['karachi', 3, 'islamabad', 3.5, 'lahore', 'peshawar', 'multan']

In [86]:
len(cities)

7

In [78]:
cities[3]

3.5

In [88]:
cities[2:]

['islamabad', 3.5, 'lahore', 'peshawar', 'multan']

In [89]:
cities[4:-1]

['lahore', 'peshawar']