In [1]:
print("Hello World")

Hello World

In [5]:
# string = alphanumeric or numberic

In [ ]:
# "123" or 'salman123' or 'salman' # String

In [ ]:
# 12 or 500 # Integers

In [ ]:
# 40.2 or 10.001 or 20.2 #float values

# Variable

In [6]:
name = 'Mark'

In [7]:
name

'Mark'

In [14]:
type(name)

str

In [17]:
age = 18

In [20]:
age = age + 6

In [21]:
age

24

In [3]:
myage = 10

In [4]:
myage

10

In [7]:
name10 = 'salman'

In [8]:
num1 = 10

In [9]:
num2 =12

In [10]:
total = num1 + num2

In [11]:
total

22

In [21]:
num1 = 12

In [22]:
num2 = 3

In [23]:
num1 % num2

0

In [24]:
age = 18

In [25]:
age = age + 4

In [26]:
age

22

In [27]:
age += 6

In [28]:
age

28

In [29]:
age -= 6

In [30]:
age

22

In [38]:
# BODMAS

In [31]:
calc = 1 + 3 * 4

In [33]:
calc

13

In [34]:
calc = 1 + 3 * 4 / 3

In [35]:
calc

5.0

In [36]:
calc = 1 + 3 * 4 / 3 - 2

In [37]:
calc

3.0

In [39]:
calc = (3 * 4) / 2

In [40]:
calc

6.0

In [43]:
calc = ((3 * 2 / 4) / (4 * 6) / 2) + 1

In [44]:
calc

1.03125

In [45]:
# Concatenating the strings

In [58]:
message = 'Hello'
sep = " "
name = 'salman'

In [65]:
congrats = message + sep + name

In [66]:
congrats

'Hello salman'

In [67]:
message = "Hello"
name = 'salman'

In [70]:
congrats = message + " " + name

In [71]:
congrats

'Hello salman'

In [72]:
message = "Hello "
name = 'salman'

In [73]:
congrats = message + name

In [74]:
congrats

'Hello salman'